.logo {
  font-style: normal;
  margin: auto;
  padding-top: 10%;
  font-size: 72px;
  font-weight: 400;
  max-width: 460px;
  margin-bottom: 70px;
  /* You can add a more detailed gradient or image for the logo if you wish */
}

 .home-page.Background {
  background-size: "cover";
  height: 100vh;
  margin-top: -70px;
  font-size: 50px;
  background-repeat: no-repeat;
} 

